      <div style="text-align: left">
        <p
          style="
            margin: 0;
            font-size: 14px;
            color: #363131;
            letter-spacing: 0.5px;
            line-height: 1.7;
          ">
          Happy learning<br />
          Your&nbsp;<span style="font-weight: 500">Tutor Team</span>
          <br />
          <br />
<hr />
<div style="text-align: center">
          <span style="margin-top: 5px; display: block"
            >Copyright&nbsp;<span style="font-weight: 600">&copy; 2022</span
            >&nbsp;<a
              href="#"
              target="_blank"
              style="text-decoration: none; color: #033092; font-weight: 600"
              >Tutor Service</a
            ></span
          >
          <span >You've recieved this email because you have an account with &nbsp;<a
              href="#"
              target="_blank"
              style="text-decoration: none; color: #033092; font-weight: 600"
              >Tutor Service</a
            ></span>
          </div>
        </p>
      </div>
    </div>
  </body>
</html>