<%- include('include/head.ejs')%>
<div>
  <!-- paragraph or text div -->
  <h1>Hello,</h1>
  <br />
  <%= body %>
  <br />
  If you're not sure why you're receiving this message, you can ignore this
  email.
  <br /><br />
  If you need further assistance, please contact our Help team.
  <br /><br />Thanks,
  <br />
  TutorService Team
</div>
<%- include('include/end.ejs')%>
