<%- include('include/head.ejs')%>
<div>
  <!-- paragraph or text div -->
  <h1>Hello <%= name %>,</h1>
  <br />
  Forgot your password? To reset your password please user to OTP code to reset
  your password <br />
  If you're not sure why you're receiving this message, you can ignore this
  email.
  <br />
  If you suspect someone may have unauthorised access to your account, we
  suggest you change your password as a precaution by visiting<br /><br /><br />
  <div style="font-size: 25px; font-weight: 900"><%= OTP %></div>
  <br /><br />
  If you need further assistance, please contact our Help team.
  <br /><br />Thanks,
  <br />
  TutorService Team
</div>
<%- include('include/end.ejs')%>
