<%- include('include/head.ejs')%>
<div>
  <!-- paragraph or text div -->
  <h1>Hello <%= name %>,</h1>
  <br />
  <br />
  <div style="font-size: 25px"><%= body %></div>
  <br /><br />
  If you need further assistance, please contact our Help team.
  <br /><br />Thanks,
  <br />
  TutorService Team
</div>
<%- include('include/end.ejs')%>
