<%- include('include/head.ejs')%>
<div>
  <!-- paragraph or text div -->
  <h1>Hello,</h1>
  <br />
  <%= body %><br /><br /><br />
  <div style="font-size: 25px; font-weight: 900"><%= paramsKey %></div>
  <br /><br />
  If you need further assistance, please contact our Help team.
  <br /><br />Thanks,
  <br />
  TutorService Team
</div>
<%- include('include/end.ejs')%>
